@font-face {
    font-family: sans-regular;
    src: url("./fonts/KumbhSans-Regular.ttf");
}

@font-face {
    font-family: sans-bold;
    src: url("./fonts/KumbhSans-Bold.ttf");
}

* {
    margin: 0px;
}

#main .photo-desktop, #main .shadow-desktop {
    display: none;
}

body {
    background-image: linear-gradient(#B068E9 0%,
    #6463E7 100%);
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#main {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border-radius: 23px;
    padding-bottom: 35px;
    margin-bottom: 50px;
    margin-top: 150px;
    filter: drop-shadow(0px 0px 50px rgba(53, 18, 122, 0.4972));  
}

.bg {
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin-top: -5px;
}

#main .photo {
    position: absolute;
    width: 250px;
    height: 250px; 
    margin-top: -140px;
}

#main .shadow {
    margin-bottom: -200px;
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 250px;
    height: 110px; 
}

#main .innerDiv {
    border-bottom: 1.5px solid #E8E8EA;
    height: 40px;
    margin: 19px auto;
    width: 85%;
    cursor: pointer;
    transition: 0.3s;
}

#main img {
    float: right;
    margin-top: -10px;
    transition: 0.3s
}

h1 {
    padding-top: 132px;
    padding-bottom: 40px; 
    text-align: center;
    font-size: 32px;
    font-family: sans-bold;
    color: #1E1F36; 
}

p {
    font-family: sans-regular;
    font-size: 13px;
    color:  #4B4C5F;

}

.p2 {
    display: none;
    opacity: 0;
    font-family: sans-regular;
    font-size: 12px;
    color:  #787887;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes appear {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.clickp2 {

    display: block;
    animation-name: appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; 
    
}

#main .clickDiv {
    height: 80px;
    transition: 0.3s;
}

#main .clickp1 {
    font-weight: bold;
}

#main .clickimg {
    transform: rotate(180deg);
    transition: 0.3s
}



@media screen and (min-width: 1000px) {
    .for-hover:hover {
        color: #F47B56;
        transition: 0.2s
    }    

    #main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        background-image: url("./images/illustration-woman-online-desktop.svg"), url("./images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: -80px, -570px -250px; 
        height: 540px;
    }

    h1 {
        text-align: left;
        margin-left: 35px;
    }

    #main div {
        width: 500px;
    }

    #main .box {
        position: absolute;
        margin-left: -70px;
        margin-top: 75px;
    }

    #main .bg {
        z-index: 1;
        height: 200px;
        width: 550px;
        margin-left: -300px;
    }

    #main .photo, #main .shadow {
        display: none;
    }
    
    .main-content {
        margin-top: -70px; 
    }

}